body{
font-family: helvetica;
/*font-size: 22px;*/
color: seashell;
background-color: black;
opacity: 0.9;
}

p, h3{
  font-size: 22px;
}

/* HEADER */

 header{
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 1;
   width: 100%;
   height: 69px;
   border-bottom: 1px solid seashell;
   background-color: black;
   color: seashell;
   top: 0px
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo img {
  height: 50px;
  margin-right: 800px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
  text-decoration-color: seashell;
}

/* MAIN CONTENT CONTAINER */

.content {
/* border: 3px solid yellow;*/
/*margin-top: 69px;*/
background-color: black;
}

/* FRONT PAGE, OUR MISSION SECTION */

.our-mission {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 69px;
  /*border: 2px solid red;*/
}

.our-mission .image-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  text-align: center;
}

.image-content h2{
  margin-top: 300px;
  padding-top: 10px;
}

.image-content h4{
padding-bottom: 10px;
}

.image-content{
  background-color: black;
}

.mission-text{
  background-color: black;
}

/* TEA OF THE MONTH SECTION */

.tea-month{
  /* border: 3px solid lightblue;*/
  height: 650px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  padding-top: 35px;
}

.tea-month h2{
text-align: center;
}

.tea-month h4{
text-align: center;
}
/*-- TEA OF THE MONTH IMAGES */

.tea-images-row1{
  display: flex;
}

.tea-images-row2{
  display: flex;
}

.image1{
  flex: 1;
  text-align: center;
  margin-left: 10px;
}

.image2{
  flex: 1;
  text-align: center;
  margin-right: 10px;
}

.image3{
  flex 1;
  text-align: center;
  margin-right: 25px;
}

.image4{
  flex: 1;
  text-align: center;
  margin-left: 150px;
}

.image5{
  flex: 1;
  text-align: center;
  margin-right: 150px;
}

/* LOCATIONS SECTION */

.locations-container{
  border: 2px solid black;
  height: 500px;
  margin-left: 40px;
  margin-right: 40px;
}

.locations-container div{
}

.locations-image-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position: top;
  height: 550px;
  width: 100%;
}

.locations-image-content h2{
  padding-top: 50px;
  text-align: center;
}

.locations{
  display: flex;
}

.locations div{
  /*border: 1px solid red;*/
}

.location1{
  background-color: black;
  flex: 1;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  text-align: center;
}

.location1 h3{
  margin-top: 50px
}

.location2{
  background-color: black;
  flex: 1;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  text-align: center;
}

.location2 h3{
  margin-top: 50px
}

.location3{
  background-color: black;
  flex: 1;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  text-align: center;
}

.location3 h3{
  margin-top: 50px
}

/* CONTACT INFO */
.contact{
  text-align: center;
  margin-top: 100px;
}

/* FOOTER */
footer p{
  margin-right: 200px;
  color: seashell;
  font-size: 20px;
}
